@use '../../../global_styles.scss';

.heroSection {
  scroll-margin: 100px;
  height: 100svh;
}

.circleImage {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media (min-width: 500px) { 
  .circleImage {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}



@media (min-width: 1000px) { 
  .circleImage {

     width: 100px;
     height: 100px;

    }
}


.socialItemLi>* {
  transition: .2s all linear;
  cursor: pointer;
  margin-right: .3rem;
  margin-left: .3rem;
}

// .video, .elements {
//   clip-path:  ellipse(100% 55% at 48% 44%);;

// }

.transparentBtn {
  padding: 0.5rem 1rem;
  border: solid #fffefb 2px;
  transition: .7s all cubic-bezier(0.075, 0.82, .65, 1);
  background-color:  #fffefb;
  border-radius: 25px;
}
.transparentBtn:hover {
  padding: 0.5rem 1rem;
  border: solid #fffefb 2px;
}

.transparentBtnAnimated {
  animation-name: transparentBtnAnimation;
  animation-duration: 800ms;
  animation-fill-mode: both;
}

@keyframes transparentBtnAnimation {
  0% {
      scale: 100%;
      background-color:  #fffefb;
      color: #502c15;
  }
  50% {
      scale: 120%;
      background-color:  rgba(0,0,0,0);
      color: #fffefb;
  }
  100% {
      scale: 100%;
      background-color:  #fffefb;
      color: #502c15;
  }
}

.heroTitle {
  position: relative;
}
