

.listItem:hover {
    box-shadow: 0px 2px 0px 0px #000;
}

.listItem, .listItemMobile{
    transition: all ease .5s;

}
.listItemMobile:hover {
    font-weight: 900;
}

.hamBar {
    border-radius: 25px;
    transition: all ease .5s;
}

.coverNavbar {
    transition: all ease .5s;
    
}

#first  {
    transform-origin: 0% 0%;
}