@tailwind base;
@tailwind components;
@tailwind utilities;

/* ARTICLE */


.blogArticleMarkdown p,
.blogArticleMarkdown {
  font-size: 1.2rem;
}

.blogArticleMarkdown h1,
h2,
h3,
h4 {
  scroll-margin-top: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}

.blogArticleMarkdown h1 {
  font-size: 3rem;
}

.blogArticleMarkdown h2 {
  font-size: 2.7rem;
}

.blogArticleMarkdown h3 {
  font-size: 1.6rem;
}

.blogArticleMarkdown h4 {
  font-size: 1.4rem;
}

.blogArticleMarkdown a {
  position: relative;
  font-weight: 600;
  transition: all linear .2s;
  color: #593117;
  z-index: 1;
  border-bottom-color: #593117;
  border-bottom-width: 2px;
}
.blogArticleMarkdown a::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #D4C09E;
  transition: all linear .2s;
}
.blogArticleMarkdown a:hover::before {
  width: 100%;
  position: absolute;
  background-color: #D4C09E;
  z-index: -1;
}
.blogArticleMarkdown a {
  margin: 0px 4px 0px 4px;
}

/**LINK */

.link {
  position: relative;
  font-weight: 600;
  transition: all linear .2s;
  color: #593117;
  z-index: 1;
  border-bottom-color: #593117;
  border-bottom-width: 2px;
}

.link::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #D4C09E;
  transition: all linear .2s;
  
}


.link:hover::before {
  width: 100%;
  position: absolute;
  background-color: #D4C09E;
  z-index: -1;
}

.link:hover {
  padding: 0px 4px 0px 4px;
}

.arrow {
  transition-duration: 300ms;
}

.link:hover .arrow {
  padding-left: 5px;
}

svg {
  max-width: 100%;
}

/* TAILWIND COMPONENTS*/

@layer components {
  .errorText {
    @apply text-sm text-red-600; 
  }

  .formField {
    @apply px-2 h-10 border-my-brown border-[1.5px] focus:outline-none focus:border-my-black focus:border-[2px]
  }

  .alertSuccess {
    @apply bg-my-green p-4 text-center text-my-dark-green;
  }

  .alertError {
    @apply bg-red-200 p-4 text-center text-red-600;
  }

  .alertError {
    @apply bg-yellow-200 p-4 text-center text-yellow-800;
  }

  .buttonDisabled {
    @apply w-fit shadow-md rounded-sm uppercase p-2 font-semibold text-my-black bg-slate-200;
  }
}