@tailwind base;
@tailwind components;
@tailwind utilities;

/* ARTICLE */


.blogArticleMarkdown p,
.blogArticleMarkdown {
  font-size: 1.2rem;
}

.blogArticleMarkdown h1,
h2,
h3,
h4 {
  scroll-margin-top: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}

.blogArticleMarkdown h1 {
  font-size: 3rem;
}

.blogArticleMarkdown h2 {
  font-size: 2.7rem;
}

.blogArticleMarkdown h3 {
  font-size: 1.6rem;
}

.blogArticleMarkdown h4 {
  font-size: 1.4rem;
}

.blogArticleMarkdown a {
  position: relative;
  font-weight: 600;
  transition: all linear .2s;
  color: #593117;
  z-index: 1;
  border-bottom-color: #593117;
  border-bottom-width: 2px;
}
.blogArticleMarkdown a::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #D4C09E;
  transition: all linear .2s;
}
.blogArticleMarkdown a:hover::before {
  width: 100%;
  position: absolute;
  background-color: #D4C09E;
  z-index: -1;
}
.blogArticleMarkdown a {
  margin: 0px 4px 0px 4px;
}

/**LINK */

.link, article a {
  position: relative;
  font-weight: 800;
  color: #382208;
  z-index: 1;
  box-shadow: inset 0 0px 0 white, inset 0 -2px 0 #382208;

}

.link:hover, article a:hover {
  color: #D4C09E;
  box-shadow: inset 0 0px 0 white, inset 0 -2px 0 #D4C09E;
}

/* .link, article a::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #D4C09E;
  transition: all linear .2s;
  
} */


/* .link, article a:hover::before {
  width: 100%;
  position: absolute;
  background-color: #D4C09E;
  z-index: -1;
} */

/* .link, article a:hover {
  padding: 0px 4px 0px 4px;
} */



.link, article > a:hover .arrow {
  padding-left: 5px;
}

svg {
  max-width: 100%;
}

/* TAILWIND COMPONENTS*/

@layer base {
  h1 {
    @apply md:text-[3rem] text-[2rem];
  }
  h2 {
    @apply md:text-[2.5rem] text-[1.8rem] m-0 py-4; 
  }
  h3 {
    @apply  md:text-[1.6rem] text-[1.4rem] m-0 py-2; 
  }
  p {
    @apply text-[1.2rem];
  }

  section {
    @apply px-4 sm:px-20 md:px-24 2xl:px-96  min-h-[500px]
  }

  blockquote {
    @apply bg-my-white relative py-6 pl-12 pr-6 italic rounded-sm my-6;
  }

  iframe {
    @apply w-full h-full;
  }

  blockquote::before {
    content: '“';
    color: #D4C09E;
    font-size: 6rem;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top:-10px;
    left:0px;
  }

}

@layer components {
  .errorText {
    @apply text-sm text-red-600; 
  }

  .formField {
    @apply px-2 h-12 md:h-10 border-my-brown border-[1.5px] focus:outline-none focus:border-my-black focus:border-[2px]
  }

  .alertSuccess {
    @apply w-full sm:w-3/5 rounded-sm bg-my-green p-4 text-center text-my-dark-green;
  }

  .alertError {
    @apply w-full sm:w-3/5  rounded-sm bg-red-200 p-4 text-center text-red-600;
  }

  .alertPending {
    @apply w-full sm:w-3/5 rounded-sm bg-yellow-100 p-4 text-center text-yellow-800;
  }

  .buttonDisabled {
    @apply w-fit shadow-md rounded-sm uppercase p-2 font-semibold text-my-black bg-slate-200;
  }

  .button {
    @apply w-fit cursor-pointer shadow-md text-my-black rounded-sm uppercase p-2 font-semibold bg-my-black hover:bg-my-white text-my-white hover:text-my-black 
  }

  .buttonTransparent {
    @apply uppercase w-fit font-[1.2rem] border-2 border-my-white p-3 text-my-white rounded-xl hover:bg-my-white hover:text-my-black
  }

  .social {
    @apply cursor-pointer my-2 text-3xl opacity-60 hover:opacity-100;
  }

  .social-sm {
    @apply cursor-pointer my-2 text-2xl opacity-60 hover:opacity-100;
  }

  .socialsList {
    @apply mt-2 gap-2 flex flex-row justify-center text-my-black;
  }
  .socialsList-sm {
    @apply mt-2 gap-2 flex flex-row justify-center text-my-black;
  }
  
}
