.required::after {
    color: #dc2626;
    content: "*"
}

.one, .two, .three {
    animation: bounce 1s infinite;
}
.one {
 animation-delay: 1200ms;

}

.two {
    animation-delay: 400ms;
}

.three {
    animation-delay: 600ms;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }