// BUTTONS 



.btn {
    padding: 0.5rem 1rem;
    background-color: #502c15;//rgb(30 41 59);
    color: #fffefb;//rgb(241 245 249);
    transition: .2s all linear;
    border-radius: 3px;

}
.btn:hover {
    background-color:  #fffefb;//rgb(241 245 249);
    color: #502c15; // rgb(30 41 59);
}

.btn2 {
    padding: 0.5rem 1rem;
    background-color: rgb(241 245 249);
    transition: .2s all linear;
    border-radius: 3px;
}

.btn2:hover {
    background-color: rgb(30 41 59);
}

// TITLES AND FONTS

.sectionTitle {
    font-size: 5rem;
}

// LINK 



